# Plantilla de variables de entorno.
# 1) Copia este archivo y renómbralo a  .env
# 2) Pega tus llaves de Supabase (Project Settings > API)
# 3) NUNCA subas el archivo .env a internet

VITE_SUPABASE_URL=https://TU-PROYECTO.supabase.co
VITE_SUPABASE_ANON_KEY=tu-anon-public-key-aqui